%div{:id => "#{dom_id player}"}
  %p
    %strong Name:
    = player.name
  %p
    %strong Email:
    = player.email
  %p
    %strong Nickname:
    = player.nickname
  %p
    %strong Game night:
    = player.game_night_id
