%div{:id => "#{dom_id player}"}
  %p
    %strong Name:
    = player.name
  %p
    %strong E-Mail:
    = player.email
  %p
    %strong Nickname:
    = player.nickname
  %p
    %strong Spieleabend:
    = player.game_night_id

= link_to "Zur Ludothek von #{player.name}", player_game_library_path(player_id: player)
