= form_with(model: game_night) do |form|
  - if game_night.errors.any?
    %article
      %bold
        = "#{game_night.errors.count} Fehler haben das Speichern verhindert!"
      %ul
        - game_night.errors.each do |error|
          %li= error.full_message
  %p
    = form.label :title
    = form.text_field :title
  %p
    = form.label :takes_place_at
    = form.datetime_field :takes_place_at

  = form.submit
