= form_with(model: game_night) do |form|
  - if game_night.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(game_night.errors.count, "error")
        prohibited this game_night from being saved:
      %ul
        - game_night.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :title, style: "display: block"
    = form.text_field :title
  %div
    = form.label :takes_place_at, style: "display: block"
    = form.datetime_field :takes_place_at
  %div
    = form.submit
